<div class="common-area">
	<div class="row text-center mb-3">
		<div class="col-sm-4">
			<div class="card info-link">
				<div class="card-header">
			    		<a href="https://github.com/Co-Developers" target="_about"> Github </a>
			  	</div>
			 </div>
		</div>
	  	<div class="col-sm-4">
	  		<div class="card info-link">
				<div class="card-header">
			    		<a target="_about" href="https://docs.google.com/presentation/d/1siF0JY-hcL7esCJ-GUKpSObzXy6imah2kiEafsJqkR8/edit#slide=id.p"> 
	  				Presentation </a>
			  	</div>
			 </div>
	  	</div>
		<div class="col-sm-4">
	  		<div class="card info-link">
				<div class="card-header">
			    		<a target="_about" href="https://docs.google.com/presentation/d/1siF0JY-hcL7esCJ-GUKpSObzXy6imah2kiEafsJqkR8/edit#slide=id.p"> 
	  				Demo </a>
			  	</div>
			 </div>
	  	</div>
 	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top" src="/resources/images/Surekha.jpg"
					alt="Surekha">
				<div class="card-body">
					<h5 class="card-title">Surekha Achanta</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Masters Student</li>
					<li class="list-group-item">Computer Science Graduate Student</li>
					<li class="list-group-item">Cal Poly Pomona</li>
					<li class="list-group-item">surekhaachanta@gmail.com</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top" src="/resources/images/Sony.jpg"
					alt="Sony">
				<div class="card-body">
					<h5 class="card-title">Laxmi Chidri</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Masters Student</li>
					<li class="list-group-item">Computer Science Graduate Student</li>
					<li class="list-group-item">Cal Poly Pomona</li>
					<li class="list-group-item">chidrisony34@gmail.com</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card">
				<img class="card-img-top" src="/resources/images/Veeresh.jpeg"
					alt="Veeresh">
				<div class="card-body">
					<h5 class="card-title">Veeresh Kanduri</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Masters Student</li>
					<li class="list-group-item">Computer Science Graduate Student</li>
					<li class="list-group-item">Cal Poly Pomona</li>
					<li class="list-group-item">veereshkanduri@gmail.com</li>
				</ul>
			</div>
		</div>
	</div>
</div>
