<div ng-controller="check-Ctrl" class="common-area">
<p>Shipping Information:</p>
	<form autocomplete="off" name="shiipinginfo"
								ng-submit="save(user)" novalidate>
								<div class="form-group">
									<label for="username">First Name</label> <input type="text"
										name="userName" id="newUserName" tabindex="1"
										class="form-control" placeholder="Username" value="" required
										ng-model="newUser.userName">
								</div>
								<div class="form-group">
									<label for="username">Last Name</label> <input type="text"
										name="userName" id="newUserName" tabindex="1"
										class="form-control" placeholder="Username" value="" required
										ng-model="newUser.userName">
								</div>
								<div class="form-group">
									<label for="username">Address</label> <input type="email"
										name="email" id="email" tabindex="1" class="form-control"
										placeholder="Email Address" value="" required
										ng-model="newUser.email">
								</div>
								<div class="form-group">
									<label for="username">City</label> <input type="email"
										name="email" id="email" tabindex="1" class="form-control"
										placeholder="Email Address" value="" required
										ng-model="newUser.email">
								</div>
								<div class="form-group">
									<label for="username">Email</label> <input type="email"
										name="email" id="email" tabindex="1" class="form-control"
										placeholder="Email Address" value="" required
										ng-model="newUser.email">
								</div>
								
								<div class="form-group">
									<input type="submit" name="register-submit"
										id="register-submit" tabindex="4"
										class="btn-success" value="Proceed"
										ng-disabled="registerForm.$invalid">
										<input type="submit" name="register-submit"
										id="register-submit" tabindex="4"
										class="btn-danger" value="cancel"
										ng-disabled="registerForm.$invalid">
								</div>
								<div></div>
								<div><br></div>
							</form>
</div>