<div id="carouselExampleIndicators" class="carousel slide"
	data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0"
			class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
	</ol>
	<div class="carousel-inner" role="listbox"
		style="width: 100%; height: 400px !important;">
		<div class="carousel-item active">
			<img class="d-block w-100"
				src="/resources/images/homepage/Burger.jpg" alt="First slide">
			<div class="centered">Order Now</div>
			<div class="viewCenter">
				<button name="view-menu" id="view-menu"
					class="form-control btn btnn" ui-sref="menu">View Menu</button>

			</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="/resources/images/homepage/Fries.jpg"
				alt="Second slide">
		</div>
		<div class="carousel-item">
			<img class="d-block w-100" src="/resources/images/homepage/Tacos.jpg"
				alt="Third slide">
			<div class="centered">Order Now</div>
		</div>
		<div class="carousel-item">
			<img class="d-block w-100"
				src="/resources/images/homepage/Beverages.jpg" alt="Fourth slide">
		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleIndicators"
		role="button" data-slide="prev"> <span
		class="carousel-control-prev-icon" aria-hidden="true"></span> <span
		class="sr-only">Previous</span>
	</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
		role="button" data-slide="next"> <span
		class="carousel-control-next-icon" aria-hidden="true"></span> <span
		class="sr-only">Next</span>
	</a>
</div>
<div class="card">
	<div class="card-body">
		<div class="row" ng-hide="isAdmin">
			<div class="column">
				<img class="img" alt="picture" src="/resources/images/serving.jpg"
					style="height: 400px; width: 500px;">
			</div>
			<div class="column">
				<p>Hungry-Go serves American street food. The fresh, gourmet
					cuisine ranges from traditional Mexican tacos and Burgers to Fries.
					With food trucks in Pomona and Diamond Bar and Brea we are
					expanding our business.We commit to doing better In our our food,
					and our neighborhoods.</p>
			</div>
		</div>
		<div>
			<div class="row" ng-show="isAdmin">
				<div class="col-md-4">
				<div style="background-color:skyblue;">
					<div style="font-size: 30px; color: black; font-weight: bold;">Pomona
						Truck</div>
					<div>
					<a ui-sref="viewPomona"><img class="img" alt="picture" src="/resources/images/Truck.jpg"
							style="height: 200px; width: 200px;"></a>
					</div>
					</div>
				</div>
				<div class="col-md-4"  >
				<div style="background-color:skyblue;">
					<div style="font-size: 30px; color: black; font-weight: bold;">Diamond
						Bar Truck</div>
					<div>
						<a ui-sref="viewdbBar"><img class="img" alt="picture" src="/resources/images/Truck.jpg"
							style="height: 200px; width: 200px;"></a>
					</div>
					</div>
				</div>
				<div class="col-md-4"  style="background-color:skyblue;">
					<div style="font-size: 30px; color: black; font-weight: bold;">Brea
						Truck</div>
					<div>
					<a ui-sref="viewBrea">	<img class="img" alt="picture" src="/resources/images/Truck.jpg"
							style="height: 200px; width: 200px;"></a>
					</div>
				</div>
			</div>

		</div>
		<div class="row" ng-hide="isAdmin">
			<div class="column">
				<div class="gmap_canvas">
					<iframe width="500px" height="500" id="gmap_canvas"
						src="https://maps.google.com/maps?q=cal%20poly%20pomona&t=&z=13&ie=UTF8&iwloc=&output=embed"
						frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					<a href="https://www.pureblack.de">pureblack.de</a>
				</div>
			</div>

			<div class="column" >
				<div>Today's Truck Locations:</div>
				<div></div>
				<div>
					<i class="fas fa-map-marker-alt"
						style="color: red; font-size: 20px; float: left;"></i>
					<p style="color: red; font-size: 20px;">3801 W Temple Av,
						Pomona CA 91768</p>
				</div>
				<div>
					<i class="fas fa-map-marker-alt"
						style="color: red; font-size: 20px; float: left;"></i>
					<p style="color: red; font-size: 20px;">1609 W Imperial Rd,
						Brea CA 92835</p>
				</div>
				<div>
					<i class="fas fa-map-marker-alt"
						style="color: red; font-size: 20px; float: left;"></i>
					<p style="color: red; font-size: 20px;">1345 W Diamond Bar
						Blvd, Diamond Bar CA 92835</p>
				</div>
			</div>
			<div class="column"></div>
			<div class="column"></div>

		</div>
	</div>
</div>