<div class="common-area" style="text-align: center; padding-top: 70px;">
	<div class="success">Success</div>
	<div style="font-size: 30px;">
		<h2>Thank you For Your Order</h2>
		<div>Receipt No: 1234123</div>
		<div>You will receive your oder in 30 mins</div>
		<h1>Countdown Clock</h1>
<div id="clockdiv">
  <div>
    <span class="days"></span>
    <div class="text">Days</div>
  </div>
  <div>
    <span class="hours"></span>
    <div class="text">Hours</div>
  </div>
  <div>
    <span class="minutes"></span>
    <div class="text">Minutes</div>
  </div>
  <div>
    <span class="seconds"></span>
    <div class="text">Seconds</div>
  </div>
</div>
	</div>
</div>
