<div class="col-md-4">
	<div ng-if="$ctrl.items.length == 0">No Items</div>
	<table ng-if="$ctrl.items.length != 0" class="table table-striped">
		<thead>
			<tr>
				<th>Image</th>
				<th>Id</th>
				<th>Title</th>
				<th>Price</th>
				<th></th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in $ctrl.items">
				<td><img ng-src="{{item.link}}"></img></td>
				<td>{{item.id}}</td>
				<td>{{item.title}}</td>
				<td>{{item.price}}</td>
				<td>
					<button  type="button"
						class="btn btn-danger" ng-click="">Order</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
