<div ng-controller="orderCtrl" class="common-area">
<h2 style="margin-left:400px;">Diamond Bar Truck</h2>
<br/>
	<div class="row">
		<div class="col-25" style="float: left; color: black">
			<button class="btn-success btn btncart" ui-sref="viewBrea">Check
				Brea truck</button>
		</div>
		<div class="col-25">
			<button class="btn-success btn btncart" style="float: right;"
				ui-sref="viewPomona">Check Pomona truck</button>
		</div>
	</div>
	<div class="row">
		<div>
			<br />
		</div>
	</div>
	<div class="row">
		<h2>Crew Members:</h2>
		<table class="cart-table table-bordered">
			<!-- header -->
			<tr>
				<td><b>Member Name</b></td>
				<td><b>Role</b></td>
				<td><b>Email</b></td>
				<td><b>Truck</b></td>
			</tr>

			<!-- crew members -->
			<tr ng-repeat="crew in crews"
				ng-if='"diamond bar truck" === crew.truck'>
				<td>{{crew.name}}</td>
				<td>{{crew.role}}</td>
				<td>{{crew.email}}</td>
				<td><select ng-change="changeCrew(crew,ctruck)"
					ng-model="ctruck">
						<option value="{{crew.truck}}" selected>{{crew.truck}}</option>
						<option value="pomona truck">Pomona truck</option>
						<option value="brea truck">Brea truck</option>
						<option value="diamond bar truck">Diamond Bar truck</option>
				</select></td>
			</tr>
		</table>
	</div>
	<div>
		<h2>Pending Orders:</h2>
		<!-- items -->
		<div>
			<table class="cart-table table-bordered">
				<!-- header -->
				<tr>
					<td><b>Order Details</b></td>
					<td><b>Time</b></td>
					<td><b>Customer Name</b></td>
					<td><b>Address</b></td>
					<td><b>Truck</b></td>
					<td><b>Status</b></td>
					<td></td>
				</tr>

				<!-- empty cart message -->
				<tr ng-show="getTotalOrders() == 0">
					<td class="tdCenter" colspan="4">No Orders Pending</td>
				</tr>
				<!-- cart items -->
				<tr ng-repeat="order in orders"
					ng-if='"diamond bar truck" === order.truck'>
					<td>{{order.orderInfo}}</td>
					<td>{{order.time | date: 'M/d/yy h:mm:ss a'}}</td>
					<td>{{order.userName}}</td>
					<td>{{order.address}}</td>
					<td><select ng-change="changeTruck(order,selectTruck)"
						ng-model="selectTruck">
							<option value="{{order.truck}}" selected>{{order.truck}}</option>
							<option value="pomona truck">Pomona truck</option>
							<option value="brea truck">Brea truck</option>
							<option value="diamond bar truck">Diamond Bar</option>
					</select></td>
					<td>{{order.status}}</td>
					<td><button class="btn-success"
							ng-click="changeStatus(order);">Complete Order</button></td>
				</tr>
			</table>
		</div>
	</div>
</div>
