<!DOCTYPE html>
<html>
<head>
<title>
Co-Developers
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/resources/css/headerStyle.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("/resources/header.html"); 
});

</script> 
</head>
<body>
	<div id="header"></div>
	<div class="topnav">
			<ul class="tab">
				<li><a href="/">Home</a></li>
				<li><a href="menu">Menu</a></li>
				<li class="active"><a href="aboutus">About Us</a></li>
				<li><a href="contact">Contact</a></li>
				<li><a href="login">Login</a></li>
			</ul>
		</div>
  <div class="row text-center">
	<div class="col-sm-4">
		<p class= "well"> 
			<a href="https://github.com/Co-Developers"> Github </a>
		</p>
	</div>
  	<div class="col-sm-4">
  		<p class ="well"> 
  			<a href="https://docs.google.com/presentation/d/1siF0JY-hcL7esCJ-GUKpSObzXy6imah2kiEafsJqkR8/edit#slide=id.p"> 
  			Presentation </a>	
  		</p>
  	</div>
	<div class="col-sm-4">
  		<p class ="well"> 
  			<a href="https://docs.google.com/presentation/d/1siF0JY-hcL7esCJ-GUKpSObzXy6imah2kiEafsJqkR8/edit#slide=id.p"> 
  			Demo</a>	
  		</p>
  	</div>
 </div>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="/resources/images/Surekha.jpg" alt="Surekha" class="sty">
      <div class="container">
        <h3>Surekha Achanta</h3>
        <p class="title">Masters Student</p>
         <p>Computer Science Graduate Student</p>
	<p>Cal Poly Pomona </p>
        <p>surekhaachanta@gmail.com</p>
	<p><button class="button">Contact us</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/resources/images/Sony.jpg" alt="Sony" class="sty">
      <div class="container">
        <h3>Laxmi Chidri</h3>
        <p class="title">Masters Student</p>
        <p>Computer Science Graduate Student</p>
	<p>Cal Poly Pomona </p>
        <p>chidrisony34@gmail.com</p>
	<p><button class="button">Contact us</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img src="/resources/images/Veeresh.jpeg" alt="Veeresh" class="sty">
      <div class="container">
        <h3>Veeresh Kanduri</h3>
        <p class="title">Masters Student</p>
        <p>Computer Science Graduate Student</p>
	<p>Cal Poly Pomona </p>
        <p>veereshkanduri@gmail.com</p>
	<p><button class="button">Contact us</button></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
