<!DOCTYPE html>
<html>
<head>
<title>Co-Developers</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script> 
$(function(){
  $("#header").load("/resources/header.html"); 
});
</script> 
</head>
<body>
	<div id="header"></div>
		<div class="topnav">
			<ul class="tab">
				<li><a href="/">Home</a></li>
				<li><a href="menu">Menu</a></li>
				<li><a href="aboutus">About Us</a></li>
				<li class="active"><a href="contact">Contact</a></li>
				<li><a href="login">Login</a></li>
			</ul>
		</div>
</body>
</html>
