<html>
<head>
<title>Hungry Go</title>
    <link rel="stylesheet" href="/resources/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/lib/bootstrap.dark.theme.css">
    <link rel="stylesheet" href="/resources/css/lib/select.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/resources/css/app.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>

    <script src="/resources/js/lib/lodash.js"></script>
    <script src="/resources/js/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="/resources/js/lib/popper.min.js"></script>
    <script src="/resources/js/lib/bootstrap.min.js"></script>
    <script src="/resources/js/lib/bootbox.min.js"></script>
    <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-    ng-cloak {
        display: none !important;
    }
</style>
</head>
<body class="content-area" ng-app="foodtruck"
	ng-controller="mainCtrl as mainCtrl">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4 bordr">
		<a class="navbar-brand" href="#"> <img
			src="/resources/images/resturant_logo.png" width="170" height="70"
			class="d-inline-block align-top" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbar1" aria-controls="navbar1" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar1"
			style="padding-right: 0px;">
			<ul class="navbar-nav  ml-auto w-100 justify-content-end navg">
				<li class="nav-item"><a class="nav-link" ui-sref="home">Home</a>
				</li>
				<li class="nav-item" ng-hide="isAdmin" ui-sref-active="active"><a class="nav-link" ui-sref="menu">Menu</a></li>
				<li class="nav-item" ng-show="isAdmin" ui-sref-active="active"><a class="nav-link" ui-sref="admin.editMenu">Menu</a></li>
				<li class="nav-item" ng-show="isAdmin" ui-sref-active="active"><a class="nav-link" ui-sref="viewOrders">Orders</a></li>
				<li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="about">About Us</a></li>
				<li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="contact">Contact</a>
				</li>
				<li class="nav-item dropdown" ng-hide="userLoggedIn"><a
					href="#" class="nav-item nav-link dropdown-toggle mr-md-2"
					data-toggle="dropdown" ng-model="registered"
					ui-sref-active="active"> Register <span
						class="caret"></span>
				</a>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<div class="col-md-12 reg-dropdown-menu">
							<form autocomplete="off" name="registerForm"
								ng-submit="register(newUser)" novalidate>
								<div class="form-group">
									<label for="username">Username</label> <input type="text"
										name="userName" id="newUserName" tabindex="1"
										class="form-control" placeholder="Username" value="" required
										ng-model="newUser.userName">
								</div>
								<div class="form-group">
									<label for="username">Email</label> <input type="email"
										name="email" id="email" tabindex="1" class="form-control"
										placeholder="Email Address" value="" required
										ng-model="newUser.email">
								</div>
								<div class="form-group">
									<label for="username">password</label> <input type="password"
										name="password" id="newPassword" tabindex="2"
										class="form-control" placeholder="Password" required
										ng-model="newUser.password">
								</div>
								<div class="form-group">
									<label for="username">confirmPassword</label> <input
										type="password" name="confirm-password" id="confirm-password"
										tabindex="2" class="form-control"
										placeholder="Confirm Password" required
										ng-model="newUser.confirmPassword">
								</div>
								<div class="form-group">
									<input type="submit" name="register-submit"
										id="register-submit" tabindex="4"
										class="form-control btn btn-success" value="Register Now"
										ng-disabled="registerForm.$invalid">
								</div>
							</form>
						</div>
					</div></li>
				<li class="nav-item dropdown" ng-hide="userLoggedIn"><a
					href="#" class="nav-item nav-link dropdown-toggle mr-md-2"
					data-toggle="dropdown"
					ui-sref-active="active"> Login <span class="caret"></span>
				</a>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<div class="col-md-12 reg-dropdown-menu">
							<div ng-show="loginError" style="color: red;">ERROR: Please
								Check User Name & Password</div>
							<form autocomplete="off" name="loginForm" ng-submit="login(user)"
								novalidate>
								<div class="form-group">
									<label for="username">Username</label> <input type="text"
										name="userName" id="username" tabindex="1"
										class="form-control" placeholder="Username" value=""
										autocomplete="off" required ng-model="user.userName">
								</div>

								<div class="form-group">
									<label for="password">Password</label> <input type="password"
										name="password" id="password" tabindex="2"
										class="form-control" placeholder="Password" autocomplete="off"
										required ng-model="user.password">
								</div>
								<div class="form-group">
									<input type="submit" name="login-submit" id="login-submit"
										tabindex="4" class="form-control btn btn-success"
										value="Log In" ng-disabled="loginForm.$invalid">
								</div>
								<div class="form-group">
									<div class="col-md-12">
										<div class="text-center">
											<a href="#" tabindex="5" class="forgot-password">Forgot
												Password?</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div></li>
				<li class="nav-item" ui-sref-active="active"><a class="nav-link" ui-sref="cart">Cart
						<i class="fa fa-shopping-cart"></i><i  ng-cloak ng-show="cartItem > 0">({{cartItem}})</i>
				</a></li>

			</ul>
		</div>
		<div style="text-transform: capitalize;">
			<div  ng-cloak ng-show="userLoggedIn">
				<div class="nav-item">
					<a class="nav-link" ui-sref="account"><i style="font-size: 25;"
						class="fa fa-user"></i></a>
				</div>
				<div  ng-cloak >Hello, {{userName}}</div>
				<div>
					<button  ng-cloak ng-click="signOut()">sign out</button>
				</div>
			</div>
		</div>
	</nav>
	<main role="main" class="container area">
	<div ui-view></div>
	</main>

	<nav class="navbar navbar-dark bg-primary footer">
		<a class="foot1" href="https://github.com/Co-Developers"
			target="_about"> Github </a> <a class="foot2" target="_about"
			href="https://docs.google.com/presentation/d/1siF0JY-hcL7esCJ-GUKpSObzXy6imah2kiEafsJqkR8/edit#slide=id.p">
			Presentation </a> <a class="foot1" target="_about"
			href="https://docs.google.com/presentation/d/1siF0JY-hcL7esCJ-GUKpSObzXy6imah2kiEafsJqkR8/edit#slide=id.p">
			Demo </a>
	</nav>
	<script src="./webjars/angularjs/1.5.7/angular.js"></script>
    <script src="./webjars/angularjs/1.5.7/angular-sanitize.js"></script>
	<script src="/resources/js/lib/angular-ui-router.min.js"></script>
    <script src="/resources/js/lib/select.js"></script>
	<script src="/resources/js/lib/ocLazyLoad.js"></script>
	<script src="/resources/js/app.js"></script>
	

<script src="http://cdn.pubnub.com/pubnub.min.js"></script>
<script src="http://pubnub.github.io/angular-js/scripts/pubnub-angular.js"></script>

</html>
