<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <!-- jQuery -->
    <script src="./webjars/jquery/2.2.4/jquery.js"></script>
    <!-- AngularJS -->
    <script src="./webjars/angularjs/1.5.7/angular.js"></script>
    <script src="./webjars/angularjs/1.5.7/angular-route.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap-theme.css"/>
    <script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/resources/css/app.css"/>

    <script src="/resources/js/app.js"></script>
    <script src="/resources/js/user-form/user-form.module.js"></script>
    <script src="/resources/js/user-form/user-form.component.js"></script>
    <script src="/resources/js/user-table/user-table.module.js"></script>
    <script src="/resources/js/user-table/user-table.component.js"></script>
    <script src="/resources/js/user-crud-app/user-crud-app.module.js"></script>
    <script src="/resources/js/user-crud-app/user-crud-app.component.js"></script>
    <script src="/resources/js/core/user/user.module.js"></script>
    <script src="/resources/js/core/user/user.service.js"></script>
</head>
<body>

<user-crud-app></user-crud-app>

</body>
</html>