<html ng-app="app">
<!-- This page uses AngularJS -->
<head>
<title>Hungry Go</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<link rel="stylesheet" href="/resources/css/headerStyle.css">
<script>
	$(function() {
		$("#header").load("/resources/header.html");
	});
</script>
</head>
<body>
	<div id="header"></div>
	<div class="topnav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="menu">Menu</a></li>
			<li><a href="aboutus">About Us</a></li>
			<li><a href="contact">Contact</a></li>
			<li class="active"><a href="login">Login</a></li>
		</ul>
	</div>



	<div class="container">
		<form method="POST" action="/loginSubmit">

			<table>
				<tr>
					<td>User Name</td>
					<td><input type="text" name="userName" /></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" /></td>
				</tr>
				<tr>
					<td><button class="btn btn-lg btn-primary btn-block"
							type="submit">Login</button></td>
				</tr>
			</table>


		</form>
	</div>


</body>

</html>
