<div ng-controller="menuCtrl" class="menu-page">
    <div ng-repeat="(key, value) in menuItems">
        <div ng-if="$even" class="category">
            <h2>{{key}}</h2>
            <div class="row">
                <div class="col-md-3">
                    <img ng-src="resources/images/category/{{key}}.jpg" height="160" width="180">
                </div>
                <div class="col-md-6">
                    <ul>
                        <li class="list"  ng-repeat="item in value">
                            <i class='item'>{{item.title}}</i>
                            <i class="price">{{item.price | currency:"$"}}</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div ng-if="$odd" class="category">
            <h2 class="col-md-7" style="text-align: right;">{{key}}</h2>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li class="list"  ng-repeat="item in value">
                            <i class='item'>{{item.title}}</i>
                            <i class="price">{{item.price | currency:"$"}}</i>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img ng-src="resources/images/category/{{key}}.jpg" height="160" width="180">
                </div>
            </div>
        </div>
    </div>
</div>