<html ng-app="app">
<!-- This page uses AngularJS -->
<head>
<title>Hungry Go</title>
<!-- AngularJS -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>
	$(function() {
		$("#header").load("/resources/header.html");

	});
	
</script>
<link rel="stylesheet" href="/resources/css/headerStyle.css">
</head>
<body>
	<div id="header"></div>
	<div class="topnav">
		<ul>
			<li><a href="/">Home</a></li>
			<li  class="active"><a href="menu">Menu</a></li>
			<li><a href="aboutus">About Us</a></li>
			<li><a href="contact">Contact</a></li>
			<li><a href="login">Login</a></li>
		</ul>
	</div>
		<div>
	

		<user-crud-app></user-crud-app>
	</div>
</body>

</html>